# Llave de OpenAI:
OPENAI_API_KEY="sllave_de_openai_aqui"
# Llave de PineCone:
PINECONE_API_KEY="ptu_llave_de_pinecone_aqui"
# URL de la base de datos Turso:
TURSO_DATABASE_URL="aqui_va_la_url_de_turso"
# Token de autenticación de Turso:
TURSO_AUTH_TOKEN="aqui_va_el_token_de_autenticacion_de_turso"