<section class="hero">
  <div class="hero-content">
    <div class="text">
      <h2>Explora. Construye. Aprende con COODI</h2>
      <p>Un Ecosistema Inclusivo de Robótica Educativa que impulsa la equidad, el pensamiento computacional y las habilidades del siglo XXI desde edades tempranas, con un enfoque STEM+AI.</p>
      <a routerLink="/quienes" class="btn-secondary">¿Quién es COODI?</a>
      <!--<a routerLink="/recursos" class="btn-secondary">Explorar Recursos</a>-->
    </div>
    <div class="image">
      <img src="assets/images/aprendecoodi.png" alt="Robot COODI">
    </div>
  </div>
</section>